.Excel table {
  margin: 10px auto;
  border: solid;
}
.Excel th {
  background-color: grey;
  border: 2px solid;
  user-select: none;
  text-align: center;
}
.Excel td {
  height: 70px;
  border: 1px solid;
  width: 300px;
  text-align: center;
}
.Excel tr:nth-child(even) {
  background-color: #C4C4C4;
}
