.Article {
  border: 1px soild;
  width: 400px;
  border-radius: 20px;
  background-color: white;
}
.news-author {
  padding: 5px 0 0 5px;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
}
.news-text, .news-bigText {
  padding: 0 0 0 10px;
}
.news-count {
  padding: 0 0 0 5px;
}
