body {
  background-color: #2E2B2E;
}
#streams {
  margin: 0 auto;
  width: 75%;
  /*height: 400px;*/
  border-radius: 10px;
  background-color: #814A81;
  margin-top: 50px;
}
#header {
  text-align: center;
  font-size: 32px;
  color: white;
}
#footer {
  margin: 0 auto;
  width: 300px;
  height: 30px;
  color: white;
}
.ui-tabs {
  padding: 0px;
}
