.Excel table {
  margin: 10px auto;
  border: solid;
}
.Excel th {
  background-color: grey;
  border: 2px solid;
  user-select: none;
}
.Excel td {
  border: 1px solid;
  width: 200px;
  text-align: center;
}
.Excel tr:nth-child(even) {
  background-color: #C4C4C4;
}
.Logo {
  background-image: url('images/react-logo.svg');
  background-size: cover;
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  width: 50px;
}
html {
  background-color: white;
  font: 20px Arial;
}
