/*third block with examples of projects*/
.projects {
  width: 100%;
  height: 100vh;
  background-image: url(../images/skyscrapers.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  margin: 0 auto;
  position:relative;
  padding-bottom:50px;
}
.projects h2{
  font-family: 'Raleway', sans-serif;
  padding-top: 1%;
  text-transform: uppercase;
}
.projects-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(112, 95, 67, 0.7);
}
/*Animation for scale of projects icons*/
/*scale is changing from 1 to 1.25*/
@keyframes scaleUp {
	from {
    transform: scale(1);
  } to {
    transform: scale(1.25);
  }
}
/*scale is returning to real size*/
@keyframes scaleDown {
	from {
    transform: scale(1.25);
  } to {
    transform: scale(1);
  }
}
/*Usage of animation on hover on project boxes*/
.boxes div:hover {
  animation-name: scaleUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
/*make container with all projects flex*/
.boxes {
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
}
/*set the width of each box*/
.boxes div {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 20%;
  height: 180px;
  margin: 2% 2% 1% 2%;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);
  animation-name: scaleDown;
  animation-duration: 0.5s;
}

/*Background image of each project*/
.box-1 {
  background-image: url(../images/logos-examples/1.png);
  background-size: cover;
}
.box-2 {
  background-image: url(../images/logos-examples/2.png);
  background-size: cover;
}
.box-3 {
  background-image: url(../images/logos-examples/3.png);
  background-size: contain;
}
.box-4 {
  background-image: url(../images/logos-examples/4.png);
  background-size: cover;
}
/*.box-5 {

}
.box-6 {

}
.box-7 {

}
.box-8 {

}*/
.full-view-btn {
  align-self: stretch;
  margin-top: auto;
  background-color: rgba(80, 84, 89, 0.5);
  color: white;
}
.full-view-btn:hover {
  /*transform: scale(1.25);*/
}
.boxes img {
  width: 50%;
}
.boxes img:hover {

}
